name: WIS Build and Deploy

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Install Node.js and NPM
      uses: actions/setup-node@v2
      with:
        node-version: 14

    - name: Install Dependencies
      run: |
        cd wp-content/themes/twentytwentyone
        npm install

    - name: Build Assets
      run: |
        cd wp-content/themes/twentytwentyone
        npm run build

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:

    - name: Set Up SSH Key
      run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.WIS_DEPLOY_KEY }}" > ~/.ssh/deploy_key
          chmod 600 ~/.ssh/deploy_key
          ssh-keyscan -t rsa ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts
      env:
          DEPLOY_KEY: ${{ secrets.WIS_DEPLOY_KEY }}
          YOUR_SERVER_IP: ${{ secrets.SERVER_IP }}

    - name: Push to Remote Server
      run: |
          git remote add deploy ${{ secrets.USER }}@${{ secrets.SERVER_IP }}:/WIS-Default-project/
          git push deploy main
      env:
          USER: ${{ secrets.USER }}
        

