name: WordPress Theme Build and Deploy

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Install Node.js and NPM
      uses: actions/setup-node@v2
      with:
        node-version: 14

    - name: Install Dependencies and Build Assets
      run: |
        cd wp-content/themes/twentytwentyone
        npm install
        npm run build

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Set Up SSH Key
      run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -t rsa ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts
      env:
          DEPLOY_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          YOUR_SERVER_IP: ${{ secrets.SERVER_IP }}

    - name: Deploy to Remote Server
      run: |
          git clone ${{ secrets.USER }}@${{ secrets.SERVER_IP }}:/www/christsagalos_561/WIS-Default-project
          cd WIS-Default-project
          git checkout main
          git pull
          git push deploy main
      env:
          USER: ${{ secrets.USER }}
