name: Build and Deploy

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Install Node.js and NPM
      uses: actions/setup-node@v2
      with:
        node-version: 14

    - name: Install Dependencies
      run: |
        cd wp-content/themes/twentytwentyone
        npm install

    - name: Build Assets
      run: |
        cd wp-content/themes/twentytwentyone
        npm run build

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: rsync deployment
      # You may pin to the exact commit or the version.
      # uses: D3rHase/rsync-deploy-action@5af3ec7ad17529c7c223819f54fe0d5cad1357e1
      uses: D3rHase/rsync-deploy-action@v0.2
      with:
        # hostname / IP of the server
        HOST: ${{ secrets.SERVER_IP }}
        # ssh port of the server
        PORT: ${{ secrets.SERVER_PORT }}
        # user of the server
        USER: ${{ secrets.USER }}
        # private ssh key registered on the server
        PRIVATE_SSH_KEY: 
        # path of the file-s to deploy
        REPOSITORY_PATH: # optional, default is *
        # server path / destination
        SERVER_PATH: # optional, default is ~/
